/*------------------------------------*\
# CROSS BULLET
\*------------------------------------*/

// crosses for bullets on lists

.cross-bullet {
    list-style: none;
    position: relative;
    padding: 0 5px 0 12px;

    &:before,
    &:after,
    {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: 6px;

        .caps-list & {
            margin-top: 3px;
        }
    }

    &:before {
        top: 3px;
        width: 7px;
        height: 1px;
        background: #ffaa00;
    }

    &:after {
        left: 3px;
        width: 1px;
        height: 7px;
        background: #ffaa00;
    }
}
