<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/modernizr.min.js"></script>
  </head>
  <body>
    <div class="status-bar is-hidden js-status-bar">
      <div class="progress-bar__wrap">
        <div class="media -v-center">
          <div class="media__img u-mr-">
            <div class="loader__wrap -forty">
              <div class="loader__container -fill-parent -width-five">
                <div class="loader js-loader">
                  <div class="loader__mask -right">
                    <div class="loader__circles">
                      <div class="loader__circle"></div>
                      <div class="loader__circle -deg11-25"></div>
                      <div class="loader__circle -deg22-5"></div>
                      <div class="loader__circle -deg33-75"></div>
                      <div class="loader__circle -deg45"></div>
                      <div class="loader__circle -deg56-25"></div>
                      <div class="loader__circle -deg67-5"></div>
                      <div class="loader__circle -deg78-75"></div>
                      <div class="loader__circle -deg90"></div>
                      <div class="loader__circle -deg101-25"></div>
                      <div class="loader__circle -deg112-5"></div>
                      <div class="loader__circle -deg123-75"></div>
                      <div class="loader__circle -deg135"></div>
                      <div class="loader__circle -deg146-25"></div>
                      <div class="loader__circle -deg157-5"></div>
                      <div class="loader__circle -deg168-75"></div>
                      <div class="loader__circle -deg180"></div>
                    </div>
                  </div>
                </div>
                <div class="icon__sources--green u-center-transform"></div>
              </div>
            </div>
          </div>
          <div class="media__body">
            <div class="media u-mb------">
              <div class="media__img">
                <div class="stage__text -dark">Source indexing completion</div>
              </div>
              <div class="media__body">
                <div class="stage__text -dark u-text-right"><strong class="u-black">1,212</strong> of <strong class="u-black">5,341 files</strong> - <strong class="u-green">95%</strong>
                </div>
              </div>
            </div>
            <div class="progress-bar__container">
              <div class="progress-bar"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-button -center-transform -right js-close-status-bar">
        <div class="icon-close"></div>
      </div>
    </div>
    <div class="main-container js-main-container">
      <nav class="main-nav">
        <div class="main-nav__logo-wrap">
          <a href="#" class="main-nav__logo step-zero js-gluru js-main-nav__link js-tt" data-tt="Home" data-tt-pos="right"></a>
        </div>
        <div class="loader__container -width-three -white loader__container--main-nav is-hidden js-status-loading-sources js-open-status-bar" title="Show status bar">
          <div class="loader js-loader">
            <div class="loader__mask -right">
              <div class="loader__circles">
                <div class="loader__circle"></div>
                <div class="loader__circle -deg11-25"></div>
                <div class="loader__circle -deg22-5"></div>
                <div class="loader__circle -deg33-75"></div>
                <div class="loader__circle -deg45"></div>
                <div class="loader__circle -deg56-25"></div>
                <div class="loader__circle -deg67-5"></div>
                <div class="loader__circle -deg78-75"></div>
                <div class="loader__circle -deg90"></div>
                <div class="loader__circle -deg101-25"></div>
                <div class="loader__circle -deg112-5"></div>
                <div class="loader__circle -deg123-75"></div>
                <div class="loader__circle -deg135"></div>
                <div class="loader__circle -deg146-25"></div>
                <div class="loader__circle -deg157-5"></div>
                <div class="loader__circle -deg168-75"></div>
                <div class="loader__circle -deg180"></div>
              </div>
            </div>
          </div>
          <div class="icon-sml__sources--white u-center-transform"></div>
        </div>
      </nav>
      <div class="stage-wrap stage-wrap--setup">
        <main class="stage">
          <header class="panel-header -stage -no-drawer js-panel-header-stage">
            <div class="stage__hd-wrap">
              <div class="stage__hd-heading">Log in to Gluru!</div>
              <div class="stage__hd-subheading">Log in with your username and password or Google account</div>
            </div>
          </header>
          <div class="scrollable-content__wrap">
            <div class="scrollable-content">
              <div class="scrollable-content__inner-wrap -setup">
                <div class="stage__content">
                  <h1 class="stage__heading-text u-mb0">Log in to Gluru</h1>
                  <p class="stage__text u-mb+">You can log in with Google+ or email.</p>
                  <form>
                    <div class="u-layout -w-400">
                      <div class="row -form">
                        <div class="lrg-12">
                          <input class="text-input -full-width" ng-model="" name="username" placeholder="Username" required/>
                        </div>
                      </div>
                      <div class="row -form u-mb">
                        <div class="lrg-12">
                          <input class="text-input -full-width" ng-model="" name="password" placeholder="Password" required/>
                        </div>
                      </div>
                      <p class="u-mb-">
                        <a href="#" class="btn -lozenge -positive js-btn-next">
                          <span class="btn__icon icon__arrow--white"></span>
                          <!--
                    --><span class="btn__text">Log in</span>
                        </a>
                      </p>
                      <p class="u-mb-">
                        <a href="login.html" class="btn -clear -padh0 -padh0">
                          <span class="btn__text -c-gray -fw-light">Forgot your password?</span> Reset it
                        </a>
                      </p>
                      <hr>
                      <h2 class="stage__subheading-text u-mb">Signed up with your Google account?</h2>
                      <p class="u-mb+">
                        <a href="#" class="btn -lozenge -white -col-grey -large js-sign-in js-modal-trigger" data-modal-content="setting-up-account">
                          <span class="btn__icon icon-lrg__googleplus"></span>
                          <!--
                    --><span class="btn__text -divider">Log in with Google</span>
                        </a>
                      </p>
                      <hr class="u-mb-">
                      <p>
                        <a href="#" class="btn -clear -padh0 -padh0">
                          <span class="btn__text -c-gray -fw-light">Don't have an account yet?</span> Create a Gluru account
                        </a>
                      </p>
                    </div>
                  </form>
                </div>
                <!-- // .info-panel__content -->
              </div>
              <!-- // .scrollable-content__inner-wrap.-stage -->
            </div>
            <!-- // .scrollable-content -->
          </div>
          <!-- // .scrollable-content__wrap.-setup -->
        </main>
        <section class="search-wrap is-hidden js-search-wrap">
          <div class="close-button-wrap__header-panel">
            <div class="icon-button -center-transform -right js-close-search">
              <div class="icon-close"></div>
            </div>
          </div>
          <div class="search-results-wrap">
            <div class="scrollable-content">
              <div class="table -selectable">
                <div class="table__header">
                  <div class="table__col -file-name">
                    <div class="table__text--header">Filename</div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text--header">Modified</div>
                  </div>
                  <div class="table__col -source">
                    <div class="table__text--header">Source</div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--evernote"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="todo-list.text">todo-list.text</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__evernote"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--text"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="file-name--very-long-filename-that-will-have-to-be-truncated-somehow.ext">file-name--very-long-filename-that-will-have-to-be-truncated-somehow.ext</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Sales Team">Sales Team</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__gdrive"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--pdf"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="summary.pdf">summary.pdf</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__box"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--spreadsheet"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="cost-forecast.xls">cost-forecast.xls</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__dropbox"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--evernote"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="todo-list.text">todo-list.text</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__evernote"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--text"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="file-name--very-long-filename-that-will-have-to-be-truncated-somehow.ext">file-name--very-long-filename-that-will-have-to-be-truncated-somehow.ext</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Sales Team">Sales Team</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__gdrive"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--pdf"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="summary.pdf">summary.pdf</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__box"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--spreadsheet"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="cost-forecast.xls">cost-forecast.xls</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__dropbox"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--evernote"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="todo-list.text">todo-list.text</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__evernote"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--text"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="file-name--very-long-filename-that-will-have-to-be-truncated-somehow.ext">file-name--very-long-filename-that-will-have-to-be-truncated-somehow.ext</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Sales Team">Sales Team</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__gdrive"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--pdf"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="summary.pdf">summary.pdf</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__box"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table__row js-table-row">
                  <div class="table__col -file-name">
                    <div class="media -v-center">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__file--spreadsheet"></div>
                        </div>
                      </div>
                      <div class="media__body">
                        <a href="#" class="table__text" title="cost-forecast.xls">cost-forecast.xls</a>
                      </div>
                    </div>
                  </div>
                  <div class="table__col -modified">
                    <div class="table__text" title="12 May 2015">12 May 2015</div>
                  </div>
                  <div class="table__col -owner">
                    <div class="table__text" title="Me">Me</div>
                  </div>
                  <div class="table__col -source">
                    <div class="media -v-center u-center-block">
                      <div class="media__img">
                        <div class="table__icon">
                          <div class="icon-sml__dropbox"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // .scrollable-content -->
          </div>
        </section>
      </div>
    </div>
    <div class="tooltip is-hidden js-tooltip">
      <div class="tooltip__text js-tooltip-text"></div>
      <div class="tooltip__triangle"></div>
    </div>
    <div class="pop-menu-wrap is-hidden js-pop-menu-wrap">
      <nav class="pop-menu">
        <ul class="pop-menu__list js-pop-menu__list js-pop-menu__list--sort">
          <li class="pop-menu__item js-pop-menu-item is-selected">
            <div class="pop-menu__text">a-z</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Last modified</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Source</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Size</div>
          </li>
          <li class="pop-menu__item -divider js-pop-menu-item">
            <div class="pop-menu__text">help</div>
          </li>
        </ul>
        <ul class="pop-menu__list js-pop-menu__list js-pop-menu__list--timeline-source">
          <li class="pop-menu__item js-pop-menu-item is-selected">
            <div class="pop-menu__text">Everything</div>
          </li>
          <li class="pop-menu__item -divider js-pop-menu-item">
            <div class="pop-menu__text">Sales team</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Marketing team</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Overly Long Team Department Name</div>
          </li>
          <li class="pop-menu__item -divider js-pop-menu-item">
            <div class="pop-menu__text">Alex Li</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Jason Smith</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Alphonso Double-barrelled Long-name Engelking</div>
          </li>
        </ul>
        <ul class="pop-menu__list js-pop-menu__list js-pop-menu__list--timeline-sort">
          <li class="pop-menu__item js-pop-menu-item is-selected">
            <div class="pop-menu__text">Priority</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Source</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">a-z</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Last modified</div>
          </li>
        </ul>
        <ul class="pop-menu__list js-pop-menu__list js-pop-menu__list--sources">
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Onedrive</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Google Calendar</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Google Mail</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Exchange</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Box</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item is-selected">
            <div class="pop-menu__text">Drive</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Dropbox</div>
          </li>
          <li class="pop-menu__item js-pop-menu-item">
            <div class="pop-menu__text">Evernote</div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="data-box -loading js-loading-screen-data is-hidden">
      <div class="loader__container -large">
        <div class="loader js-loader">
          <div class="loader__mask -right">
            <div class="loader__circles">
              <div class="loader__circle"></div>
              <div class="loader__circle -deg11-25"></div>
              <div class="loader__circle -deg22-5"></div>
              <div class="loader__circle -deg33-75"></div>
              <div class="loader__circle -deg45"></div>
              <div class="loader__circle -deg56-25"></div>
              <div class="loader__circle -deg67-5"></div>
              <div class="loader__circle -deg78-75"></div>
              <div class="loader__circle -deg90"></div>
              <div class="loader__circle -deg101-25"></div>
              <div class="loader__circle -deg112-5"></div>
              <div class="loader__circle -deg123-75"></div>
              <div class="loader__circle -deg135"></div>
              <div class="loader__circle -deg146-25"></div>
              <div class="loader__circle -deg157-5"></div>
              <div class="loader__circle -deg168-75"></div>
              <div class="loader__circle -deg180"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="data-box__text">Loading Data</div>
    </div>
    <div class="modal is-hidden js-modal">
      <div class="modal__screen"></div>
      <div class="modal__box js-modal-box">
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__default">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Modal Box</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__settings-upgrade">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Upgrade Account</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__change-username">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Change Username</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__change-password">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Change Password</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__settings-deactivate">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Deactivate Account</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
          <div class="scrollable-content__wrap -modal -large">
            <div class="scrollable-content">
              <div class="modal-box__content">
                <section class="form-section">
                  <div class="row">
                    <div class="med-11">
                      <h1 class="stage__heading-text u-mb0">Account Deactivation</h1>
                      <p class="stage__text u-mb++">If you no longer wish to keep your gluru account</p>
                      <h2 class="stage__subheading-text">Are you sure you want to delete your Gloo account?</h2>
                      <p class="stage__text">We'll be sad to see you go! Are you having issues with your account? If you think we can help fix the issue please try <a href="#"><strong>contacting the glooteam</strong></a> first.</p>
                      <p class="stage__text u-mb++">Are you sure you want to permanently delete your Gloo account? Once you do, your files will cease syncing with your connected sources and all your data will be deleted from Gloo.</p>
                    </div>
                    <div class="med-5">
                      <h2 class="stage__subheading-text">Why are you leaving us?</h2>
                      <p class="u-mb++">
                        <select class="js-reasons-for-leaving" style="width:100%;">
                          <option value="">Select one...</option>
                        </select>
                      </p>
                    </div>
                    <div class="med-11">
                      <h2 class="stage__subheading-text">Would you like to give us any additional feedback before you go? (Optional)</h2>
                      <p>
                        <textarea class="text-area -full-width" name="" id="" cols="30" rows="10" resizable="no"></textarea>
                      </p>
                    </div>
                  </div>
                </section>
                <section class="form-section -submit js-section-submit">
                  <p>
                    <a href="#" class="btn -lozenge -positive -small">
				                    Delete account
				                </a>
                    <a href="#" class="btn -lozenge -white -small js-close-modal">
				                    Cancel
				                </a>
                  </p>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__add-team-member">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Add Team Members</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
          <div class="scrollable-content__wrap -modal -large">
            <div class="scrollable-content">
              <div class="modal-box__content">
                <section class="form-section -team-invite-people js-section-team-invite-people">
                  <div class="row">
                    <div class="med-11">
                      <h1 class="stage__heading-text">Invite people</h1>
                    </div>
                  </div>
                  <div class="row -grid-header">
                    <div class="med-4">
                      Type email address
                    </div>
                    <div class="med-2">
                      Type
                    </div>
                    <div class="med-2">
                      Source
                    </div>
                    <div class="med-3">
                      Access Settings
                    </div>
                    <div class="med-1"></div>
                  </div>
                  <div class="js-invite-people-row-wrapper">
                    <div class="invite-people-row-container js-invite-people-row-container-clone">
                      <div class="row -form js-invite-people-row-clone" style="display:block">
                        <div class="med-4 js-invite-people-email">
                          <input type="email" class="text-input -full-width" ng-model="" name="" placeholder="Email" required/>
                        </div>
                        <div class="med-2">
                          <select class="js-user-type" style="width:100%;">
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                          </select>
                        </div>
                        <div class="med-2">
                          <div class="form__static-item">
                            <div class="form__static-item-text js-source-name">5 Connected</div>
                          </div>
                        </div>
                        <div class="med-3">
                          <select class="js-access-settings" style="width:100%;">
                            <option value="everything">See everything</option>
                            <option value="activity">Activity</option>
                            <option value="nothing">See nothing</option>
                          </select>
                        </div>
                        <div class="med-1 u-inherit-height">
                          <div class="media -v-center">
                            <div class="media__body">
                              <div class="loader__container">
                                <div class="loader js-loader">
                                  <div class="loader__mask -right">
                                    <div class="loader__circles">
                                      <div class="loader__circle"></div>
                                      <div class="loader__circle -deg11-25"></div>
                                      <div class="loader__circle -deg22-5"></div>
                                      <div class="loader__circle -deg33-75"></div>
                                      <div class="loader__circle -deg45"></div>
                                      <div class="loader__circle -deg56-25"></div>
                                      <div class="loader__circle -deg67-5"></div>
                                      <div class="loader__circle -deg78-75"></div>
                                      <div class="loader__circle -deg90"></div>
                                      <div class="loader__circle -deg101-25"></div>
                                      <div class="loader__circle -deg112-5"></div>
                                      <div class="loader__circle -deg123-75"></div>
                                      <div class="loader__circle -deg135"></div>
                                      <div class="loader__circle -deg146-25"></div>
                                      <div class="loader__circle -deg157-5"></div>
                                      <div class="loader__circle -deg168-75"></div>
                                      <div class="loader__circle -deg180"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="btn -clear -padh0 js-add-new-email">
                    <span class="btn__icon icon__add"></span>
                    <!--
				                --><span class="btn__text">Invite more people</span>
                  </a>
                  <div class="med-11">
                    <hr>
                  </div>
                </section>
                <section class="form-section -submit js-section-submit">
                  <p>
                    <a href="#" class="btn -lozenge -positive">
				                    Create
				                </a>
                  </p>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__create-team">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Create New Team</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
          <div class="scrollable-content__wrap -modal -large">
            <div class="scrollable-content">
              <div class="modal-box__content">
                <section class="form-section -team-name js-section-team-name">
                  <div class="row">
                    <div class="med-6">
                      <h2 class="stage__heading-text">Team name</h2>
                      <p>
                        <input type="text" class="text-input -full-width" ng-model="" name="team-name" placeholder="Team Name" required/>
                      </p>
                    </div>
                  </div>
                </section>
                <section class="form-section -team-invite-people js-section-team-invite-people">
                  <div class="row">
                    <div class="med-11">
                      <h1 class="stage__heading-text">Invite people</h1>
                    </div>
                  </div>
                  <div class="row -grid-header">
                    <div class="med-4">
                      Type email address
                    </div>
                    <div class="med-2">
                      Type
                    </div>
                    <div class="med-2">
                      Source
                    </div>
                    <div class="med-3">
                      Access Settings
                    </div>
                    <div class="med-1"></div>
                  </div>
                  <div class="js-invite-people-row-wrapper">
                    <div class="invite-people-row-container js-invite-people-row-container-clone">
                      <div class="row -form js-invite-people-row-clone" style="display:block">
                        <div class="med-4 js-invite-people-email">
                          <input type="email" class="text-input -full-width" ng-model="" name="" placeholder="Email" required/>
                        </div>
                        <div class="med-2">
                          <select class="js-user-type" style="width:100%;">
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                          </select>
                        </div>
                        <div class="med-2">
                          <div class="form__static-item">
                            <div class="form__static-item-text js-source-name">5 Connected</div>
                          </div>
                        </div>
                        <div class="med-3">
                          <select class="js-access-settings" style="width:100%;">
                            <option value="everything">See everything</option>
                            <option value="activity">Activity</option>
                            <option value="nothing">See nothing</option>
                          </select>
                        </div>
                        <div class="med-1 u-inherit-height">
                          <div class="media -v-center">
                            <div class="media__body">
                              <div class="loader__container">
                                <div class="loader js-loader">
                                  <div class="loader__mask -right">
                                    <div class="loader__circles">
                                      <div class="loader__circle"></div>
                                      <div class="loader__circle -deg11-25"></div>
                                      <div class="loader__circle -deg22-5"></div>
                                      <div class="loader__circle -deg33-75"></div>
                                      <div class="loader__circle -deg45"></div>
                                      <div class="loader__circle -deg56-25"></div>
                                      <div class="loader__circle -deg67-5"></div>
                                      <div class="loader__circle -deg78-75"></div>
                                      <div class="loader__circle -deg90"></div>
                                      <div class="loader__circle -deg101-25"></div>
                                      <div class="loader__circle -deg112-5"></div>
                                      <div class="loader__circle -deg123-75"></div>
                                      <div class="loader__circle -deg135"></div>
                                      <div class="loader__circle -deg146-25"></div>
                                      <div class="loader__circle -deg157-5"></div>
                                      <div class="loader__circle -deg168-75"></div>
                                      <div class="loader__circle -deg180"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="btn -clear -padh0 js-add-new-email">
                    <span class="btn__icon icon__add"></span>
                    <!--
				                --><span class="btn__text">Invite more people</span>
                  </a>
                  <div class="med-11">
                    <hr>
                  </div>
                </section>
                <section class="form-section -submit js-section-submit">
                  <p>
                    <a href="#" class="btn -lozenge -positive">
				                    Create
				                </a>
                  </p>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__setting-up-account">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Account Set-up</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
          <div class="modal-box__content">
            <p>Please wait whilst your account is set up. This may take a while...</p>
            <div class="loader__wrap -large">
              <div class="loader__container -large -width-twenty -fill-parent">
                <div class="loader js-loader">
                  <div class="loader__mask -right">
                    <div class="loader__circles">
                      <div class="loader__circle"></div>
                      <div class="loader__circle -deg11-25"></div>
                      <div class="loader__circle -deg22-5"></div>
                      <div class="loader__circle -deg33-75"></div>
                      <div class="loader__circle -deg45"></div>
                      <div class="loader__circle -deg56-25"></div>
                      <div class="loader__circle -deg67-5"></div>
                      <div class="loader__circle -deg78-75"></div>
                      <div class="loader__circle -deg90"></div>
                      <div class="loader__circle -deg101-25"></div>
                      <div class="loader__circle -deg112-5"></div>
                      <div class="loader__circle -deg123-75"></div>
                      <div class="loader__circle -deg135"></div>
                      <div class="loader__circle -deg146-25"></div>
                      <div class="loader__circle -deg157-5"></div>
                      <div class="loader__circle -deg168-75"></div>
                      <div class="loader__circle -deg180"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="[ demo-only -modal-box__content-wrap ] js-demo-only__indexing-files" data-modal-content="indexing-files">
          <header class="panel-header">
            <div class="modal-box__heading-wrap">
              <div class="modal__heading-text">Indexing Files</div>
            </div>
            <div class="icon-button -center-transform -right js-close-modal">
              <div class="icon-close"></div>
            </div>
          </header>
          <div class="modal-box__content">
            <div class="progress-bar__wrap -full-width u-mb+">
              <div class="media u-mb------">
                <div class="media__img">
                  <div class="stage__text -dark">Source indexing completion</div>
                </div>
                <div class="media__body">
                  <div class="stage__text -dark u-text-right"><strong class="u-black">1,212</strong> of <strong class="u-black">5,341 files</strong> - <strong class="u-green">95%</strong>
                  </div>
                </div>
              </div>
              <div class="progress-bar__container">
                <div class="progress-bar"></div>
              </div>
            </div>
            <div class="row">
              <aside class="med-6">
                <div class="speech-bubble -setup">
                  <div class="speech-bubble__text -heading">See you soon Tim!</div>
                  <div class="speech-bubble__text">Ok you’re all setup, I’m busy indexing all your data.</div>
                </div>
                <div class="sprite__gluru-bot--med u-center-block"></div>
              </aside>
              <div class="med-6">
                <p><strong>All done.</strong>
                </p>
                <p>Gluru is now indexing all your files. We will let you know when this is complete. You will receive an email once this is complete.</p>
                <p><strong>See you soon!</strong>
                </p>
              </div>
              <!-- // .info-panel__content -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/pages/setup.js"></script>
  </body>
</html>
