.section-num {
    padding: 0 12px;
    background: $cod-gray;
    color: #fff;
    margin-left: -15px;
}

.right-col p {
    font-weight: 400;
    margin-bottom: 30px;
    color: #9c9c9c;
    padding: 0 0 0 7px;
    border-left: 3px solid rgba($white, 0.05);
}

.wrapper {
    background: url("/images/bg.png");
    margin: 60px auto 0;
    padding-bottom: 80px;
}

#header {
    margin-bottom: 30px;
}

.navbar-nav {
    margin-bottom: 10px;
}

.navbar-inverse {
    background-color: #111111;
    background-color: #232323;
}

.navbar-fixed-top {
    border: none;
}

.navbar {
    min-height: 60px;
}

.navbar-brand {
    font-family: 'merriweatherlight', Times, serif;
    font-size: rem(14);
    line-height: normal;
    padding: 10px 15px;
    text-transform: lowercase;

    .navbar-brand__prof {
        display: block;
    }
}

.logo-nav a {
    font-family: 'merriweatherlight', Times, serif;
    font-weight: normal;
    text-decoration: none;
    text-transform: lowercase;
    color: #ededed;
}

.nav a {
    color: #ccc !important;
    font-size: 1.7em;
    text-transform: lowercase;
    font-weight: 300;
    background: url("/images/bg.png") repeat scroll 0% 0% transparent;
    margin: 10px 15px;
    padding: 10px !important;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

// ovrride bootstrap
.nav .active {
    &.active a:hover,
    &.active a { // ovrride bootstrap
        background-color: inherit;
    }
}

// nav a span {
.nav-link__prefix {
    font-family: 'merriweatherbold', Times, serif;
    color: #efefef;
    font-size: 0.8em;
    text-align: right;
    padding-right: 10px;
    display: inline-block;
    width: 60px;

    &.glyphicon {
        font-family: 'Glyphicons Halflings';
    }
}

nav a:hover,
.nav .active a {
    color: $orange !important;
}

.nav span.glyphicon {
    font-size: 0.6em;
    top: 0px;
    left: 0px;
}

#mainimage .container {
    padding: 0 15px;
    .image {
        background: url("/images/hot-metal-type.jpg") no-repeat scroll right center / auto 100% transparent;
        height: 90px;
    }
}

#mainimage .container img {
    width: 100%;
    height: 100%;
}

#online-cv {
    margin: 20px 0;
}

.intro {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1.5;
    color: #c0c0c0;
    margin-bottom: 40px;
    clear: both;
}

.e-hist {
    .employer, .role, {
        border-left: 5px solid rgb(255, 170, 0);
        padding-left: 8px;
    }
}

.e-hist .employer {
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    color: #d7d7d7;
}

.e-hist .role {
    display: block;
    font-weight: 500;
    font-style: italic;
    color: #aeaeae;
    margin-bottom: 5px;
}

.e-hist article {
    margin: 0 0 70px 0;
}

.text-block {
    position: relative;
    padding: 10px 10px 3px;
    border-left: 5px solid;
    border-color: rgba(255, 255, 255, 0.08);
}

.text-block__text {
    font-weight: 400;
    color: #9d9a9a;
}

// .e-hist .date {
//     // font-size: 0.9em;
//     font-size: rem(14);
//     font-weight: 500;
//     color: rgba($white, .85);
// }

.info-panel {
    padding: 6px 15px 4px;
    background-color: rgba(255, 255, 255, 0.08);

    &.-skills {
        padding: 12px 15px 16px;
    }
}

// .focus-container {
//     padding: 4px 10px 17px;
//     background-color: rgba(255, 255, 255, 0.08);
//     border-top-right-radius: 5px;
//     border-bottom-left-radius: 5px;
// }

.info-panel__heading {
    font-size: rem(14);
    font-weight: 500;
    color: rgba($white, .75);
}

.caps-list {
    // ul
    padding-left: 0;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
    @include columns(3 8em);
    @include column-rule(1px solid rgba(#fff, .1));

    li {
        margin-left: 2px;
    }
}

.split-list {
    // @include columns(1);

    @include mq(sm) {
        @include columns(2);
    }

    // &.-cols-3 {
    //     @include columns(3);
    // }
}

#siteinfo .container,
#contact_form header {
    font-family: 'merriweatherlight', Times, serif;
    font-size: 1.8em;
    letter-spacing: -0.02em;
    line-height: 1;
    text-transform: lowercase;
    padding-top: 30px;
}

#contact_form header {
    font-size: 1.4em;
    padding-top: 0px;
}

// .n,
// .wd,
// .fd {
//     text-transform: lowercase;
// }

// .n {
//     color: #f6f6f6;
// }

// .wd {
//     color: $orange;
// }

// .fd {
//     color: #828282;
// }

.squeeze {
    letter-spacing: -3px
}

.plus {
    position: relative;
    top: 3px;
    color: $orange;
}

.carousel .plus {
    top: 0px;
}

.dash {
    display: inline-block;
    @include transform( translateY(3px) scaleX(0.5) );
    margin: 0 -4px 0 -5px;

    .navbar-brand & {
        margin: 0 -2px 0 -3px;
        @include transform( translateY(1px) scaleX(0.5) );
    }
}

#overview .container {
    display: none;
    font-family: 'merriweatherlight_italic', arial, sans-serif;
    font-size: 1.1em;
    color: #a9a9a9;
    line-height: 1.5;
    text-align: center;
}

.color-text {
    color: $orange;
}

.emph-text {
    color: #f1f0f0;
}

#education article p:not(:last-child) {
    margin-bottom: 15px;
}

.tech {
    // margin: 0 2px;
    // color: rgba($orange, .65);
    color: rgba(#fff, .85);
    text-transform: uppercase;
    font-size: 0.75em;
}







.right-col {
    padding-top: 30px;
}

#contact_form .right-col {
    padding-top: 50px;
}

#contact_form {
    background: #313131;
    padding: 35px 0;
}

#contact_form .right-col p {
    margin: 30px 0 0 0;
    font-weight: 400;
}

#contact_form .right-col p:first-child {
    margin: 30px 50px 0 0;
}

.contact-details .location,
.contact-details .details {
    display: block;
    float: left;
}

.form-control {
    height: 34px;
    font-size: 14px;
    color: #b8b8b8;
    background-color: #212121;
    border: 0px solid #cccccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.form-control:-moz-placeholder {
    color: #4d4d4d;
}

.form-control::-moz-placeholder {
    color: #4d4d4d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #4d4d4d;
}

.form-control::-webkit-input-placeholder {
    color: #4d4d4d;
}

textarea.form-control {
    resize: none;
}

.help-block {
    display: none;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: $orange;
}

.has-error .form-control {
    border-color: $orange;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $orange;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $orange;
}

.has-error .input-group-addon {
    color: $orange;
    border-color: $orange;
    background-color: #f2dede;
}

#captcha {
    width: 140px;
    height: 80px;
}

.captcha {
    margin-top: 30px;
}

.captcha .text-left {
    padding-right: 0px;
}

.captcha .text-right {
    padding-left: 0px;
}

#contact_form .btn {
    width: 100%;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 0px;
}

#feedbackSubmit {
    margin-top: 14px;
}

.btn-info {
    background-color: #161616;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: $cod-gray;
}

.captcha span.glyphicon {
    font-size: 0.8em;
    top: 0px;
    left: 5px;
}

footer p {
    color: #7b7b7b;
    font-size: 0.9em;
    padding-top: 12px;
}



.skills {
    margin: -30px 0 40px 0;
    border-left: 3px solid rgba(255, 255, 255, 0.05);
    padding: 15px 0 0 7px;
}

    .skills__list { // ul
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .skills__item { // li
            font-weight: bold;
            padding: 3px 0;
            margin: 0 0 5px;
            text-transform: uppercase;
            font-size: 0.75em;
        }

        .bar {
            display: block;
            width: 100%;
            height: 5px;
            margin: 5px 0 0;
            background: hsl(0, 0%, 14%);
        }

        .level {
            display: block;
            position: relative;
            width: 3px;
            height: 5px;
            background: hsl(0, 1%, 24%);
        }

        .level:before {
            content: "";
            position: absolute;
            display: block;
            width: 3px;
            height: 100%;
            background: $orange;
            right: 0;
        }

        .grade {
            color: #878585;
            text-transform: lowercase;
            font-family: "merriweatherlight_italic";
            letter-spacing: -0.3px;
            font-size: 0.6em;
        }

        .grade:before {
            content: "|";
            padding: 0 3px;
            color: #696767;
        }





