// Neat settings override

// $column: golden-ratio(1em, 3); // Column width
// $gutter: golden-ratio(1em, 1); // Gutter between each two columns
// $grid-columns: 12; // Total number of columns in the grid
// $max-width: em(1088); // Max-width of the outer container
// $border-box-sizing: true; // Makes all elements have a border-box layout
// $default-feature: min-width; // Default @media feature for the breakpoint() mixin
// $default-layout-direction: LTR;

// colors
$orange:					#ffaa00;
$cod-gray:					#0F0F0F;


// grayscale range   
$white:                     #fff;                       // white
$alabaster:                 #fafafa;                    // virtually white
$wild-sand:                 #f5f5f5;
$gallery:                   #eee;                       // off white
$alto:                      #ddd;                       // very light gray
$alto-dark:                 #d4d4d4;
$silver:                    #ccc;                       // light gray
$silver-chalice:            #b2b2b2;
$dusty-gray:                #999;                       // mid-light gray
$gray:                      #7f7f7f;                    // mid gray
$dove-gray:                 #666;                       // dark gray
$tundora:                   #4c4c4c;
$mine-shaft:                #333;                       // very dark gray
$black:                     #000;                       // black

// -----------------------------------
// VERTICAL RYTHM
// -----------------------------------
$em-base:           						16px;
$base-font-size:    						$em-base;
$base-line-height:  						22px;
$default-margin:    						$base-line-height;

// html declaration in _base.scss
$line-height:								$base-line-height / $base-font-size;
